@font-face {
    font-family: 'horseman';
    src: url(./fonts/Horsemen\ Typeface/OTF/Horsemen.otf);
}

@font-face {
    font-family: 'CyberThrone';
    src: url(./fonts/Cyberthrone.ttf);
}

html {
    height: 100%;
    background-image: linear-gradient(to bottom, #2E2157, #F6019D);
}

#logo {
    font-family: 'horseman';
    color: #F6019D;
    font-size: 50px;
}
.mainPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'CyberThrone';
    color: white;
    font-weight: 200;
    font-size: 42px;
}


.scoreBox {
    display: flex;
    justify-content: space-between;
}

.playerScore,
.compScore {
    padding: 18px;
}

.playAgain {
    margin: 8px;
}

.optionBtn {
    width: 150px;
    height: 190px;
}



