@font-face {
    font-family: 'horseman';
    src: url(./fonts/Horsemen\ Typeface/OTF/Horsemen.otf);
}

html {
    height: 100%;
    background-image: linear-gradient(to top, #e52e71, #000066);
}

.Logo {
    font-family: 'horseman';
    color: white;
    font-size: 50px;
}
.mainPage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scoreBox {
    display: flex;
    justify-content: space-between;
}

.playerScore,
.compScore {
    padding: 18px;
}

.playAgain {
    margin: 8px;
}

.optionBtn {
    width: 150px;
    height: 190px;
}



